version: "3"
services:
  sensor-fleet:
    container_name: sensor-fleet
    build: sensor-fleet
    environment: 
      AWS_ACCESS_KEY_ID: key_id
      AWS_SECRET_ACCESS_KEY: secret

  localstack:
    container_name: "localstack"
    build: localstack
    ports:
      - "4566:4566"
      - "4571:4571"
    environment:
      - LAMBDA_EXECUTOR=${LAMBDA_EXECUTOR- }
      - DOCKER_HOST=unix:///var/run/docker.sock
      - HOST_TMP_FOLDER=${TMPDIR}
    volumes:
      - "${TMPDIR:-/tmp/localstack}:/tmp/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"